In [1]:
import pandas as pd

In [2]:
import numpy as np

# Using Pandas

In [2]:
s = pd.Series([0,1,1,2,3,5,8])

In [3]:
print(s)

0    0
1    1
2    1
3    2
4    3
5    5
6    8
dtype: int64

In [4]:
s.index

RangeIndex(start=0, stop=7, step=1)

In [8]:
s.values

array([0, 1, 1, 2, 3, 5, 8])

In [9]:
for v in s.values:
    print(v)

0
1
1
2
3
5
8

In [12]:
for item in zip(s.index,s.values):
    print(item)

(0, 0)
(1, 1)
(2, 1)
(3, 2)
(4, 3)
(5, 5)
(6, 8)

In [13]:
mars = pd.Series([100.0,20000.0,10.5],index=["moon1","moon2","moon3"])

In [14]:
print(mars)

moon1      100.0
moon2    20000.0
moon3       10.5
dtype: float64

# Loc and iLoc

In [48]:
series = pd.Series(np.random.randn(20),index=np.arange(3,23))

In [49]:
series

3     0.635273
4    -0.538025
5    -0.695624
6    -1.343281
7    -0.452735
8     1.587511
9     0.154785
10    0.766686
11   -0.124941
12   -2.196761
13   -0.816965
14   -0.146837
15   -0.076524
16   -0.336399
17   -0.505708
18    1.192496
19    1.177640
20    2.073336
21   -0.827679
22    0.124160
dtype: float64

In [50]:
series[3]

0.6352734587530677

In [53]:
series.array[3]

-1.3432805630238362

In [54]:
series.loc[3]

0.6352734587530677

In [55]:
series.iloc[3]

-1.3432805630238362

In [56]:
series.iloc[-1]

0.12416016793062305

In [57]:
series.iloc[0:4]

3    0.635273
4   -0.538025
5   -0.695624
6   -1.343281
dtype: float64

In [58]:
series.loc[3:6]    #both ends are included in iloc

3    0.635273
4   -0.538025
5   -0.695624
6   -1.343281
dtype: float64

In [61]:
mars.loc["moon1":"moon3"]

moon1      100.0
moon2    20000.0
moon3       10.5
dtype: float64

In [62]:
mars.iloc[0:]

moon1      100.0
moon2    20000.0
moon3       10.5
dtype: float64

# Task 2

In [22]:
mass = pd.Series([1,1.5,3,4,180,29,35,100],index=['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune'])

In [26]:
dia = pd.Series([9000,10800,12400,18000,300000,45000,79000,26000],index=['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune'])

In [27]:
density = mass/(np.pi * (dia **3)/6)

In [28]:
density

Mercury    2.619834e-12
Venus      2.274162e-12
Earth      3.005091e-12
Mars       1.309917e-12
Jupiter    1.273240e-14
Saturn     6.078016e-13
Uranus     1.355777e-13
Neptune    1.086629e-11
dtype: float64

In [29]:
#adding PlanetX
mass["PlanetX"]= 3.2

In [36]:
#computing new density object
density = mass/(np.pi * (dia **3)/6)

In [37]:
density

Earth      3.005091e-12
Jupiter    1.273240e-14
Mars       1.309917e-12
Mercury    2.619834e-12
Neptune    1.086629e-11
PlanetX             NaN
Saturn     6.078016e-13
Uranus     1.355777e-13
Venus      2.274162e-12
dtype: float64

In [32]:
#Replace the NaN with mean of density
mean = np.mean(density)

In [33]:
mean

2.6039258621517822e-12

In [49]:
temp = np.nan_to_num(density.values,nan=mean)

In [51]:
temp

array([3.00509065e-12, 1.27323954e-14, 1.30991723e-12, 2.61983445e-12,
       1.08662911e-11, 2.60392586e-12, 6.07801593e-13, 1.35577664e-13,
       2.27416185e-12])

In [53]:
density_rectified = pd.Series(temp,index=density.index)

In [54]:
density_rectified

Earth      3.005091e-12
Jupiter    1.273240e-14
Mars       1.309917e-12
Mercury    2.619834e-12
Neptune    1.086629e-11
PlanetX    2.603926e-12
Saturn     6.078016e-13
Uranus     1.355777e-13
Venus      2.274162e-12
dtype: float64

In [57]:
density[pd.isnull(density)] = np.mean(density)

In [58]:
density

Earth      3.005091e-12
Jupiter    1.273240e-14
Mars       1.309917e-12
Mercury    2.619834e-12
Neptune    1.086629e-11
PlanetX    2.603926e-12
Saturn     6.078016e-13
Uranus     1.355777e-13
Venus      2.274162e-12
dtype: float64

In [60]:
"Earth" in density

True

In [61]:
9000 in dia

False

In [62]:
9000 in dia.values

True

In [63]:
my_dict = {1:100 ,2:200, 3:400}

In [73]:
listo=my_dict.values()

In [71]:
sum(my_dict.values())/len(my_dict)

233.33333333333334

In [75]:
my_dict[listo[1]]= 25

TypeError: 'dict_values' object is not subscriptable

In [76]:
my_dict[2]= 25

In [78]:
print(listo)

dict_values([100, 25, 400])

In [81]:
%%timeit
1 in my_dict.values()

96.2 ns ± 0.365 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [82]:
series = pd.Series(my_dict)

In [83]:
%%timeit 
1 in series

367 ns ± 3.35 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)