# NIFTY 2019 Closing Price Analysis

In [2]:
import numpy as np
import pandas as pd

In [3]:
nifty = pd.read_csv("nifty.csv",index_col=0).iloc[:,0]

In [5]:
nifty

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
                 ...
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, Length: 245, dtype: float64

In [9]:
np.mean(nifty)

11432.632244897959

In [10]:
np.median(nifty)

11512.4

In [12]:
np.std(nifty)

453.28669474598075

## What fraction of the days did market close higher than the previous day?

In [17]:
np.sum(nifty.iloc[1:]-nifty.iloc[:-1]>0)

0

In [50]:
a = nifty[1:].values

In [51]:
b = nifty[:-1].values

In [52]:
len(a-b>0)

244

In [53]:
nifty_margin = pd.Series(a-b>0,index=nifty.index[1:])

In [54]:
nifty_margin

Date
02-Jan-2019    False
03-Jan-2019    False
04-Jan-2019     True
07-Jan-2019     True
08-Jan-2019     True
               ...
24-Dec-2019    False
26-Dec-2019    False
27-Dec-2019     True
30-Dec-2019     True
31-Dec-2019    False
Length: 244, dtype: bool

In [55]:
np.sum(nifty_margin)/len(nifty_margin)

0.5286885245901639

##  Tasks
1. Compute the moving average of the last 5 days
2. Subset the data to include data only for Fridays

In [77]:
nifty_moving5 = pd.Series(np.mean(nifty.values.reshape(-1,5),axis=1),index=nifty.index[4::5])

In [78]:
nifty_moving5

Date
07-Jan-2019    10774.80
14-Jan-2019    10802.29
21-Jan-2019    10910.22
28-Jan-2019    10809.23
04-Feb-2019    10788.17
11-Feb-2019    10979.72
18-Feb-2019    10747.29
25-Feb-2019    10760.28
05-Mar-2019    10857.08
12-Mar-2019    11123.17
19-Mar-2019    11421.28
27-Mar-2019    11452.10
03-Apr-2019    11644.04
10-Apr-2019    11624.94
18-Apr-2019    11694.09
26-Apr-2019    11658.60
07-May-2019    11656.26
14-May-2019    11262.08
21-May-2019    11471.72
28-May-2019    11818.51
04-Jun-2019    11968.00
12-Jun-2019    11901.78
19-Jun-2019    11758.49
26-Jun-2019    11779.90
03-Jul-2019    11864.61
10-Jul-2019    11674.26
17-Jul-2019    11614.77
24-Jul-2019    11392.94
31-Jul-2019    11185.81
07-Aug-2019    10928.74
16-Aug-2019    11029.03
23-Aug-2019    10912.06
30-Aug-2019    11036.17
09-Sep-2019    10887.94
17-Sep-2019    10983.10
24-Sep-2019    11201.61
01-Oct-2019    11471.63
10-Oct-2019    11232.60
17-Oct-2019    11424.97
25-Oct-2019    11604.16
01-Nov-2019    11805.23
08-Nov-2019    11948.95
18-Nov-2019    11881.19
25-Nov-2019    11979.15
02-Dec-2019    12078.76
09-Dec-2019    11982.96
16-Dec-2019    11975.88
23-Dec-2019    12236.18
31-Dec-2019    12202.24
dtype: float64

In [79]:
nifty_friday = pd.Series(nifty.values[1::5],index=nifty.index[1::5])

In [81]:
nifty_friday

Date
02-Jan-2019    10792.50
09-Jan-2019    10855.15
16-Jan-2019    10890.30
23-Jan-2019    10831.50
30-Jan-2019    10651.80
06-Feb-2019    11062.45
13-Feb-2019    10793.65
20-Feb-2019    10735.45
27-Feb-2019    10806.65
07-Mar-2019    11058.20
14-Mar-2019    11343.25
22-Mar-2019    11456.90
29-Mar-2019    11623.90
05-Apr-2019    11665.95
12-Apr-2019    11643.45
23-Apr-2019    11575.95
02-May-2019    11724.75
09-May-2019    11301.80
16-May-2019    11257.10
23-May-2019    11657.05
30-May-2019    11945.90
07-Jun-2019    11870.65
14-Jun-2019    11823.30
21-Jun-2019    11724.10
28-Jun-2019    11788.85
05-Jul-2019    11811.15
12-Jul-2019    11552.50
19-Jul-2019    11419.25
26-Jul-2019    11284.30
02-Aug-2019    10997.35
09-Aug-2019    11109.65
20-Aug-2019    11017.00
27-Aug-2019    11105.35
04-Sep-2019    10844.65
12-Sep-2019    10982.80
19-Sep-2019    10704.80
26-Sep-2019    11571.20
04-Oct-2019    11174.75
14-Oct-2019    11341.15
22-Oct-2019    11588.35
29-Oct-2019    11786.85
05-Nov-2019    11917.20
13-Nov-2019    11840.45
20-Nov-2019    11999.10
27-Nov-2019    12100.70
04-Dec-2019    12043.20
11-Dec-2019    11910.15
18-Dec-2019    12221.65
26-Dec-2019    12126.55
dtype: float64

## Given Solutions

In [4]:
pd.Timestamp(nifty.index[0]).dayofweek

1

In [5]:
new_index = map(pd.Timestamp,nifty.index)

In [7]:
list(new_index)

[Timestamp('2019-01-01 00:00:00'),
 Timestamp('2019-01-02 00:00:00'),
 Timestamp('2019-01-03 00:00:00'),
 Timestamp('2019-01-04 00:00:00'),
 Timestamp('2019-01-07 00:00:00'),
 Timestamp('2019-01-08 00:00:00'),
 Timestamp('2019-01-09 00:00:00'),
 Timestamp('2019-01-10 00:00:00'),
 Timestamp('2019-01-11 00:00:00'),
 Timestamp('2019-01-14 00:00:00'),
 Timestamp('2019-01-15 00:00:00'),
 Timestamp('2019-01-16 00:00:00'),
 Timestamp('2019-01-17 00:00:00'),
 Timestamp('2019-01-18 00:00:00'),
 Timestamp('2019-01-21 00:00:00'),
 Timestamp('2019-01-22 00:00:00'),
 Timestamp('2019-01-23 00:00:00'),
 Timestamp('2019-01-24 00:00:00'),
 Timestamp('2019-01-25 00:00:00'),
 Timestamp('2019-01-28 00:00:00'),
 Timestamp('2019-01-29 00:00:00'),
 Timestamp('2019-01-30 00:00:00'),
 Timestamp('2019-01-31 00:00:00'),
 Timestamp('2019-02-01 00:00:00'),
 Timestamp('2019-02-04 00:00:00'),
 Timestamp('2019-02-05 00:00:00'),
 Timestamp('2019-02-06 00:00:00'),
 Timestamp('2019-02-07 00:00:00'),
 Timestamp('2019-02-08 00:00:00'),
 Timestamp('2019-02-11 00:00:00'),
 Timestamp('2019-02-12 00:00:00'),
 Timestamp('2019-02-13 00:00:00'),
 Timestamp('2019-02-14 00:00:00'),
 Timestamp('2019-02-15 00:00:00'),
 Timestamp('2019-02-18 00:00:00'),
 Timestamp('2019-02-19 00:00:00'),
 Timestamp('2019-02-20 00:00:00'),
 Timestamp('2019-02-21 00:00:00'),
 Timestamp('2019-02-22 00:00:00'),
 Timestamp('2019-02-25 00:00:00'),
 Timestamp('2019-02-26 00:00:00'),
 Timestamp('2019-02-27 00:00:00'),
 Timestamp('2019-02-28 00:00:00'),
 Timestamp('2019-03-01 00:00:00'),
 Timestamp('2019-03-05 00:00:00'),
 Timestamp('2019-03-06 00:00:00'),
 Timestamp('2019-03-07 00:00:00'),
 Timestamp('2019-03-08 00:00:00'),
 Timestamp('2019-03-11 00:00:00'),
 Timestamp('2019-03-12 00:00:00'),
 Timestamp('2019-03-13 00:00:00'),
 Timestamp('2019-03-14 00:00:00'),
 Timestamp('2019-03-15 00:00:00'),
 Timestamp('2019-03-18 00:00:00'),
 Timestamp('2019-03-19 00:00:00'),
 Timestamp('2019-03-20 00:00:00'),
 Timestamp('2019-03-22 00:00:00'),
 Timestamp('2019-03-25 00:00:00'),
 Timestamp('2019-03-26 00:00:00'),
 Timestamp('2019-03-27 00:00:00'),
 Timestamp('2019-03-28 00:00:00'),
 Timestamp('2019-03-29 00:00:00'),
 Timestamp('2019-04-01 00:00:00'),
 Timestamp('2019-04-02 00:00:00'),
 Timestamp('2019-04-03 00:00:00'),
 Timestamp('2019-04-04 00:00:00'),
 Timestamp('2019-04-05 00:00:00'),
 Timestamp('2019-04-08 00:00:00'),
 Timestamp('2019-04-09 00:00:00'),
 Timestamp('2019-04-10 00:00:00'),
 Timestamp('2019-04-11 00:00:00'),
 Timestamp('2019-04-12 00:00:00'),
 Timestamp('2019-04-15 00:00:00'),
 Timestamp('2019-04-16 00:00:00'),
 Timestamp('2019-04-18 00:00:00'),
 Timestamp('2019-04-22 00:00:00'),
 Timestamp('2019-04-23 00:00:00'),
 Timestamp('2019-04-24 00:00:00'),
 Timestamp('2019-04-25 00:00:00'),
 Timestamp('2019-04-26 00:00:00'),
 Timestamp('2019-04-30 00:00:00'),
 Timestamp('2019-05-02 00:00:00'),
 Timestamp('2019-05-03 00:00:00'),
 Timestamp('2019-05-06 00:00:00'),
 Timestamp('2019-05-07 00:00:00'),
 Timestamp('2019-05-08 00:00:00'),
 Timestamp('2019-05-09 00:00:00'),
 Timestamp('2019-05-10 00:00:00'),
 Timestamp('2019-05-13 00:00:00'),
 Timestamp('2019-05-14 00:00:00'),
 Timestamp('2019-05-15 00:00:00'),
 Timestamp('2019-05-16 00:00:00'),
 Timestamp('2019-05-17 00:00:00'),
 Timestamp('2019-05-20 00:00:00'),
 Timestamp('2019-05-21 00:00:00'),
 Timestamp('2019-05-22 00:00:00'),
 Timestamp('2019-05-23 00:00:00'),
 Timestamp('2019-05-24 00:00:00'),
 Timestamp('2019-05-27 00:00:00'),
 Timestamp('2019-05-28 00:00:00'),
 Timestamp('2019-05-29 00:00:00'),
 Timestamp('2019-05-30 00:00:00'),
 Timestamp('2019-05-31 00:00:00'),
 Timestamp('2019-06-03 00:00:00'),
 Timestamp('2019-06-04 00:00:00'),
 Timestamp('2019-06-06 00:00:00'),
 Timestamp('2019-06-07 00:00:00'),
 Timestamp('2019-06-10 00:00:00'),
 Timestamp('2019-06-11 00:00:00'),
 Timestamp('2019-06-12 00:00:00'),
 Timestamp('2019-06-13 00:00:00'),
 Timestamp('2019-06-14 00:00:00'),
 Timestamp('2019-06-17 00:00:00'),
 Timestamp('2019-06-18 00:00:00'),
 Timestamp('2019-06-19 00:00:00'),
 Timestamp('2019-06-20 00:00:00'),
 Timestamp('2019-06-21 00:00:00'),
 Timestamp('2019-06-24 00:00:00'),
 Timestamp('2019-06-25 00:00:00'),
 Timestamp('2019-06-26 00:00:00'),
 Timestamp('2019-06-27 00:00:00'),
 Timestamp('2019-06-28 00:00:00'),
 Timestamp('2019-07-01 00:00:00'),
 Timestamp('2019-07-02 00:00:00'),
 Timestamp('2019-07-03 00:00:00'),
 Timestamp('2019-07-04 00:00:00'),
 Timestamp('2019-07-05 00:00:00'),
 Timestamp('2019-07-08 00:00:00'),
 Timestamp('2019-07-09 00:00:00'),
 Timestamp('2019-07-10 00:00:00'),
 Timestamp('2019-07-11 00:00:00'),
 Timestamp('2019-07-12 00:00:00'),
 Timestamp('2019-07-15 00:00:00'),
 Timestamp('2019-07-16 00:00:00'),
 Timestamp('2019-07-17 00:00:00'),
 Timestamp('2019-07-18 00:00:00'),
 Timestamp('2019-07-19 00:00:00'),
 Timestamp('2019-07-22 00:00:00'),
 Timestamp('2019-07-23 00:00:00'),
 Timestamp('2019-07-24 00:00:00'),
 Timestamp('2019-07-25 00:00:00'),
 Timestamp('2019-07-26 00:00:00'),
 Timestamp('2019-07-29 00:00:00'),
 Timestamp('2019-07-30 00:00:00'),
 Timestamp('2019-07-31 00:00:00'),
 Timestamp('2019-08-01 00:00:00'),
 Timestamp('2019-08-02 00:00:00'),
 Timestamp('2019-08-05 00:00:00'),
 Timestamp('2019-08-06 00:00:00'),
 Timestamp('2019-08-07 00:00:00'),
 Timestamp('2019-08-08 00:00:00'),
 Timestamp('2019-08-09 00:00:00'),
 Timestamp('2019-08-13 00:00:00'),
 Timestamp('2019-08-14 00:00:00'),
 Timestamp('2019-08-16 00:00:00'),
 Timestamp('2019-08-19 00:00:00'),
 Timestamp('2019-08-20 00:00:00'),
 Timestamp('2019-08-21 00:00:00'),
 Timestamp('2019-08-22 00:00:00'),
 Timestamp('2019-08-23 00:00:00'),
 Timestamp('2019-08-26 00:00:00'),
 Timestamp('2019-08-27 00:00:00'),
 Timestamp('2019-08-28 00:00:00'),
 Timestamp('2019-08-29 00:00:00'),
 Timestamp('2019-08-30 00:00:00'),
 Timestamp('2019-09-03 00:00:00'),
 Timestamp('2019-09-04 00:00:00'),
 Timestamp('2019-09-05 00:00:00'),
 Timestamp('2019-09-06 00:00:00'),
 Timestamp('2019-09-09 00:00:00'),
 Timestamp('2019-09-11 00:00:00'),
 Timestamp('2019-09-12 00:00:00'),
 Timestamp('2019-09-13 00:00:00'),
 Timestamp('2019-09-16 00:00:00'),
 Timestamp('2019-09-17 00:00:00'),
 Timestamp('2019-09-18 00:00:00'),
 Timestamp('2019-09-19 00:00:00'),
 Timestamp('2019-09-20 00:00:00'),
 Timestamp('2019-09-23 00:00:00'),
 Timestamp('2019-09-24 00:00:00'),
 Timestamp('2019-09-25 00:00:00'),
 Timestamp('2019-09-26 00:00:00'),
 Timestamp('2019-09-27 00:00:00'),
 Timestamp('2019-09-30 00:00:00'),
 Timestamp('2019-10-01 00:00:00'),
 Timestamp('2019-10-03 00:00:00'),
 Timestamp('2019-10-04 00:00:00'),
 Timestamp('2019-10-07 00:00:00'),
 Timestamp('2019-10-09 00:00:00'),
 Timestamp('2019-10-10 00:00:00'),
 Timestamp('2019-10-11 00:00:00'),
 Timestamp('2019-10-14 00:00:00'),
 Timestamp('2019-10-15 00:00:00'),
 Timestamp('2019-10-16 00:00:00'),
 Timestamp('2019-10-17 00:00:00'),
 Timestamp('2019-10-18 00:00:00'),
 Timestamp('2019-10-22 00:00:00'),
 Timestamp('2019-10-23 00:00:00'),
 Timestamp('2019-10-24 00:00:00'),
 Timestamp('2019-10-25 00:00:00'),
 Timestamp('2019-10-27 00:00:00'),
 Timestamp('2019-10-29 00:00:00'),
 Timestamp('2019-10-30 00:00:00'),
 Timestamp('2019-10-31 00:00:00'),
 Timestamp('2019-11-01 00:00:00'),
 Timestamp('2019-11-04 00:00:00'),
 Timestamp('2019-11-05 00:00:00'),
 Timestamp('2019-11-06 00:00:00'),
 Timestamp('2019-11-07 00:00:00'),
 Timestamp('2019-11-08 00:00:00'),
 Timestamp('2019-11-11 00:00:00'),
 Timestamp('2019-11-13 00:00:00'),
 Timestamp('2019-11-14 00:00:00'),
 Timestamp('2019-11-15 00:00:00'),
 Timestamp('2019-11-18 00:00:00'),
 Timestamp('2019-11-19 00:00:00'),
 Timestamp('2019-11-20 00:00:00'),
 Timestamp('2019-11-21 00:00:00'),
 Timestamp('2019-11-22 00:00:00'),
 Timestamp('2019-11-25 00:00:00'),
 Timestamp('2019-11-26 00:00:00'),
 Timestamp('2019-11-27 00:00:00'),
 Timestamp('2019-11-28 00:00:00'),
 Timestamp('2019-11-29 00:00:00'),
 Timestamp('2019-12-02 00:00:00'),
 Timestamp('2019-12-03 00:00:00'),
 Timestamp('2019-12-04 00:00:00'),
 Timestamp('2019-12-05 00:00:00'),
 Timestamp('2019-12-06 00:00:00'),
 Timestamp('2019-12-09 00:00:00'),
 Timestamp('2019-12-10 00:00:00'),
 Timestamp('2019-12-11 00:00:00'),
 Timestamp('2019-12-12 00:00:00'),
 Timestamp('2019-12-13 00:00:00'),
 Timestamp('2019-12-16 00:00:00'),
 Timestamp('2019-12-17 00:00:00'),
 Timestamp('2019-12-18 00:00:00'),
 Timestamp('2019-12-19 00:00:00'),
 Timestamp('2019-12-20 00:00:00'),
 Timestamp('2019-12-23 00:00:00'),
 Timestamp('2019-12-24 00:00:00'),
 Timestamp('2019-12-26 00:00:00'),
 Timestamp('2019-12-27 00:00:00'),
 Timestamp('2019-12-30 00:00:00'),
 Timestamp('2019-12-31 00:00:00')]

In [84]:
nifty_dated = pd.Series(nifty.values, index=new_index)

In [85]:
nifty_dated

2019-01-01    10910.10
2019-01-02    10792.50
2019-01-03    10672.25
2019-01-04    10727.35
2019-01-07    10771.80
                ...
2019-12-24    12214.55
2019-12-26    12126.55
2019-12-27    12245.80
2019-12-30    12255.85
2019-12-31    12168.45
Length: 245, dtype: float64

In [96]:
nifty_dated.rolling('5d').mean()

2019-01-01    10910.100000
2019-01-02    10851.300000
2019-01-03    10791.616667
2019-01-04    10775.550000
2019-01-07    10723.800000
                  ...
2019-12-24    12249.700000
2019-12-26    12201.283333
2019-12-27    12212.412500
2019-12-30    12209.400000
2019-12-31    12223.366667
Length: 245, dtype: float64

In [101]:
nifty_dated[nifty_dated.index.dayofweek == 4]

2019-01-04    10727.35
2019-01-11    10794.95
2019-01-18    10906.95
2019-01-25    10780.55
2019-02-01    10893.65
2019-02-08    10943.60
2019-02-15    10724.40
2019-02-22    10791.65
2019-03-01    10863.50
2019-03-08    11035.40
2019-03-15    11426.85
2019-03-22    11456.90
2019-03-29    11623.90
2019-04-05    11665.95
2019-04-12    11643.45
2019-04-26    11754.65
2019-05-03    11712.25
2019-05-10    11278.90
2019-05-17    11407.15
2019-05-24    11844.10
2019-05-31    11922.80
2019-06-07    11870.65
2019-06-14    11823.30
2019-06-21    11724.10
2019-06-28    11788.85
2019-07-05    11811.15
2019-07-12    11552.50
2019-07-19    11419.25
2019-07-26    11284.30
2019-08-02    10997.35
2019-08-09    11109.65
2019-08-16    11047.80
2019-08-23    10829.35
2019-08-30    11023.25
2019-09-06    10946.20
2019-09-13    11075.90
2019-09-20    11274.20
2019-09-27    11512.40
2019-10-04    11174.75
2019-10-11    11305.05
2019-10-18    11661.85
2019-10-25    11583.90
2019-11-01    11890.60
2019-11-08    11908.15
2019-11-15    11895.45
2019-11-22    11914.40
2019-11-29    12056.05
2019-12-06    11921.50
2019-12-13    12086.70
2019-12-20    12271.80
2019-12-27    12245.80
dtype: float64

In [100]:
nifty_dated.index.dayofweek==4

array([False, False, False,  True, False, False, False, False,  True,
       False, False, False, False,  True, False, False, False, False,
        True, False, False, False, False,  True, False, False, False,
       False,  True, False, False, False, False,  True, False, False,
       False, False,  True, False, False, False, False,  True, False,
       False, False,  True, False, False, False, False,  True, False,
       False, False,  True, False, False, False, False,  True, False,
       False, False, False,  True, False, False, False, False,  True,
       False, False, False, False, False, False, False,  True, False,
       False,  True, False, False, False, False,  True, False, False,
       False, False,  True, False, False, False, False,  True, False,
       False, False, False,  True, False, False, False,  True, False,
       False, False, False,  True, False, False, False, False,  True,
       False, False, False, False,  True, False, False, False, False,
        True, False, False, False, False,  True, False, False, False,
       False,  True, False, False, False, False,  True, False, False,
       False, False,  True, False, False, False, False,  True, False,
       False,  True, False, False, False, False,  True, False, False,
       False, False,  True, False, False, False,  True, False, False,
       False,  True, False, False, False, False,  True, False, False,
       False, False,  True, False, False, False,  True, False, False,
       False,  True, False, False, False, False,  True, False, False,
       False,  True, False, False, False, False,  True, False, False,
       False, False,  True, False, False, False,  True, False, False,
       False, False,  True, False, False, False, False,  True, False,
       False, False, False,  True, False, False, False, False,  True,
       False, False, False, False,  True, False, False, False,  True,
       False, False])

In [107]:
s = pd.Series("a",index=[1,2,3,4])
s.loc[2]

'a'

In [109]:
s = pd.Series([3,2,2,1])
s.mean()

2.0

In [111]:
data = [1, 2, 3, 4]
s = pd.Series( data , index=[1,2,3,4])
b = (s > 2).any()
print(b)

True

In [112]:
data = [0, 1, 1, 2, 3, 5, 8, 13, 21]
s = pd.Series( data )
b = s.diff()
print(b.iloc[5])

2.0